  .box-1 {
            border: 1px solid black;
            color: white;
            background-color: blue;
            height: 150px;
            width: 300px;
            display: flex; /* Added to center content */
            align-items: center;
            justify-content: center;
        }
        .box-2 {
            border: 1px solid black;
            color: white;
            background-color: red;
            height: 100px;
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box-3 {
            border: 1px solid black;
            color: white;
            background-color: green;
            height: 200px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
 .flex-container {
    display: flex;
    width: 100%;
    border: 1px solid black;
  }
  .reverse {
    flex-direction: row-reverse;
  }
   .jc-right {
    justify-content: flex-end;
  }
    .jc-center {
    justify-content: center;
  }
   .jc-sb {
    justify-content: space-between;
  }
   .jc-sa {
    justify-content: space-around;
  }
   .ai-fe {
    align-items: flex-end;
  }
    .ai-grow {
    /* nothing necessary here */
  }

  .ai-grow .box-1 {
    flex-grow: 1;
    width: 0;
  }
  .ai-grow .box-2 {
    flex-grow: 5;
    width: 0;
  }
  .ai-grow .box-3 {
    flex-grow: 10;
    width: 0;
  }